div.box {
  margin: calc(50vh - 100px) auto;
  text-align: center;
  width: 400px;
  height: 200px;
}
div#msg {
  font-size: 16px;
  font-weight: bold;
  color: #212121;
  padding: 12px 0;
}
input#numInput {
  width: 40px;
  border: 1px solid #E0E0E0;
  background-color: #F5F5F5;
  outline: 0;
  font-size: 30px;
  text-align: center;
  color: #424242;
}

.redtext {
  color: #D50000;
}

div#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url("../img/board.jpg") no-repeat;
}
div#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
  font-size: 22px;
}
.hit {
  background: url("../img/ship.png") no-repeat center center;
}
.miss {
  background: url("../img/miss.png") no-repeat center center;
}
table {
  border-spacing: 0px;
  position: absolute;
  left: 173px;
  top: 98px;
}
td {
  width: 94px;
  height: 94px;
}
form {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 8px;
  background-color: rgb(83, 175, 19);
  border: 0;
  outline: 0;
}
form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
  border: 0;
  outline: 0;
}