body {
  font-family: Arial;
  font-size: 16px;
  color: #424242; }

button {
  cursor: pointer; }

input,
input:focus,
button,
button:active {
  border: 0;
  outline: 0; }

.wrapper {
  margin: calc(50vh - 265px) auto 0;
  width: 500px;
  height: 530px;
  text-align: center; }

.main {
  width: 500px;
  height: 470px;
  background-color: #FAFAFA;
  position: relative; }

.add {
  width: 500px;
  height: 50px;
  position: absolute;
  bottom: 0; }
  .add::before {
    content: '+';
    display: inline-block;
    position: absolute;
    color: #BDBDBD;
    font-size: 40px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #EEEEEE; }

.input-add {
  width: 400px;
  height: 50px;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0 8px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 20px;
  color: #424242; }
  .input-add:focus {
    background-color: #EEEEEE; }

.btn-add {
  width: 50px;
  height: 50px;
  background-color: #EEEEEE;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: #BDBDBD; }
  .btn-add:hover,
  .input-add:focus ~ .btn-add {
    color: #9E9E9E;
    background-color: #E0E0E0; }

.todoItem {
  width: 500px;
  height: 50px;
  text-align: left;
  position: relative; }
  .todoItem::before {
    content: '';
    display: inline-block;
    position: absolute;
    font-size: 40px;
    line-height: 50px;
    width: 8px;
    height: 50px;
    top: 0;
    left: 0;
    text-align: center; }
  .todoItem.isUrg::before {
    background-color: #F44336; }
  .todoItem.isOn::before {
    background-color: #2196F3; }
  .todoItem.isDone::before {
    background-color: #E0E0E0; }
  .todoItem span {
    text-align: left;
    line-height: 50px;
    padding: 0 8px 0 20px; }
  .todoItem.isDone span {
    color: #E0E0E0;
    text-decoration: line-through; }
  .todoItem .itemControllers {
    position: absolute;
    right: 10px;
    top: 12px; }
    .todoItem .itemControllers input {
      display: none; }
    .todoItem .itemControllers .itemControllers-item {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 8px;
      border: 4px solid #E0E0E0;
      box-sizing: border-box; }
      .todoItem .itemControllers .itemControllers-item.urg {
        border-color: #F44336; }
      .todoItem .itemControllers .itemControllers-item:hover.urg {
        border-color: #F44336;
        background-color: #F44336; }
      .todoItem .itemControllers .itemControllers-item.on {
        border-color: #E0E0E0; }
      .todoItem .itemControllers .itemControllers-item:hover.on {
        border-color: #2196F3;
        background-color: #2196F3; }
      .todoItem .itemControllers .itemControllers-item.done {
        border-color: #E0E0E0; }
      .todoItem .itemControllers .itemControllers-item:hover.done {
        border-color: #E0E0E0;
        background-color: #E0E0E0; }

.tags {
  width: 500px;
  height: 30px;
  padding: 10px;
  text-align: center; }
  .tags span {
    padding: 4px 16px;
    font-size: 13px;
    line-height: 18px;
    margin-right: 6px;
    height: 18px;
    display: inline-block;
    background-color: #E0E0E0;
    color: #424242;
    border-radius: 15px; }
    .tags span.isUrg {
      background-color: #F44336;
      color: #fff; }
    .tags span.isOn {
      background-color: #2196F3;
      color: #fff; }
    .tags span.isDone {
      background-color: #E0E0E0;
      color: #fff; }

h1 {
  font-size: 26px;
  height: 30px;
  line-height: 30px;
  text-align: center; }

